<template>
  <div id="app">
    <div class="jumbotron">
        <div class="container">
            <h1>Hello from <span id="vue-logo">Vue.js</span> & <span id="ros-logo">ROS</span></h1>
        </div>
    </div>
    <router-view/>
  </div>
</template>

<style>
  #vue-logo {
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    color: #42b983;
  }

  #ros-logo {
    font-family: 'rokkitregular', Arial, sans-serif;
    color: #456b91;
  }

  .btn-log {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 10rem;
    height: 3rem;
    border-radius: 200px !important;
    text-align: center;
    color: #fff;
    background: #3196df;
    line-height: 46px;
    z-index: 1000;
  }

  .btn-log:focus,
  .btn-log:hover {
    color: #fff;
    text-decoration: none !important;
  }

  .btn-log {
    font-weight: 700;
  }
</style>
