<template>
    <div>
      <label for="chassis-system-lock">System Lock</label>
        <b-form-checkbox v-model="chassisSystemLock" id="chassis-system-lock" switch
          size="lg" @change="chassisSystemLock" class="mb-2" disabled>
        </b-form-checkbox>

        <div class="row px-3">
          <div class="col-md-6 pl-0">
            <label for="range-1">Speed Level</label>
            <b-form-input id="range-1" v-model="chassisSpeed" type="range" min="0" max="140"
            disabled>
            </b-form-input>
            <div class="mt-2">Value: {{ chassisSpeed }}</div>
          </div>
        </div>
    </div>
</template>

<script>
import ROSLIB from 'roslib';

export default {
  name: 'DisinfectionModule',
  props: ['ros'],
  data() {
    return {
      chassisSystemLock: true,
      chassisSpeed: 0,
      listener1: null,
    };
  },
  methods: {
  },
  watch: {
    ros() {
      // ROS Subscribers
      this.listener1 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/chasiss_block_pub',
      });

      this.listener1.subscribe((callback) => {
        this.chassisSystemLock = callback.system_lock;
        this.chassisSpeed = callback.speed;
      });
    },
  },
};
</script>
