<template>
    <div>
        <b-form-checkbox v-model="disinfectionValve1" name="disinfection-valve1-check-button" switch
          size="lg" @change="passValve1" class="mb-2">
        Disinfection 1nd valve
        </b-form-checkbox>
        <b-form-checkbox v-model="disinfectionValve2" name="disinfection-valve2-check-button" switch
          size="lg" @change="passValve2">
        Disinfection 2nd valve
        </b-form-checkbox>
    </div>
</template>

<script>
import ROSLIB from 'roslib';

export default {
  name: 'DisinfectionModule',
  props: ['ros'],
  data() {
    return {
      disinfectionValve1: false,
      disinfectionValve2: false,
      talker1: null,
      talker2: null,
    };
  },
  methods: {
    passValve1() {
      const payload = {
        data: this.disinfectionValve1,
      };
      this.sendData1(payload);
    },
    passValve2() {
      const payload = {
        data: this.disinfectionValve2,
      };
      this.sendData2(payload);
    },
    sendData1(payload) {
      this.talker1.publish(payload);
    },
    sendData2(payload) {
      this.talker2.publish(payload);
    },
  },
  watch: {
    ros() {
      // ROS Publishers
      this.talker1 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/disinfection_valve1_sub',
        messageType: 'std_msgs/Bool',
      });

      this.talker2 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/disinfection_valve2_sub',
        messageType: 'std_msgs/Bool',
      });
    },
  },
};
</script>
