<template>
  <div>
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-10">
          <h3>Connection status</h3>

          <div class="row mb-2">
            <div class="form-group col-md-7 mb-0 pr-0">
              <label for="rosServerAddress" class="mb-0">Ros server address</label>
              <input type="text" class="form-control" id="rosServerAddress" v-model="ws_address">
            </div>

            <div class="col-md-5 d-flex justify-content-center align-items-end">
              <button class="btn btn-success w-100" @click="disconnect" v-if="connected">
                Disconnect</button>
              <button class="btn btn-danger w-100" @click="connect" v-else>Connect</button>
            </div>
          </div>

          <div class="row align-items-center mb-2">
            <div class="col-md-7 mb-0 pr-0">
              <h5 class="mb-0"><i>Disinfection</i> Module</h5>
            </div>
            <div class="col-md-5 d-flex justify-content-around align-items-end text-center">
              <button class="col-5 btn btn-outline-success w-100 text-center"
               readonly v-if="module1_board_connected">
                <motherboard></motherboard> Connected
              </button>
              <button class="col-5 btn btn-outline-danger w-100 text-center" v-else>
                <motherboard></motherboard> Disconnected
              </button>

              <button class="col-5 btn btn-outline-success w-100 text-center"
               v-if="module1_ros_connected">
                <robot></robot> Connected
              </button>
              <button class="col-5 btn btn-outline-danger w-100 text-center"  v-else>
                <robot></robot> Disconnected
              </button>
            </div>
          </div>

          <div class="row align-items-center mb-2">
            <div class="col-md-7 mb-0 pr-0">
              <h5 class="mb-0"><i>Chassis</i> Module</h5>
            </div>
            <div class="col-md-5 d-flex justify-content-around align-items-end text-center">
              <button class="col-5 btn btn-outline-success w-100 text-center"
               v-if="module2_controller_connected">
                <b-icon icon="controller" aria-hidden="true"></b-icon> Connected
              </button>
              <button class="col-5 btn btn-outline-danger w-100 text-center"  v-else>
                <b-icon icon="controller" aria-hidden="true"></b-icon> Disconnected
              </button>

              <button class="col-5 btn btn-outline-success w-100 text-center"
               v-if="module2_ros_connected">
                <robot></robot>  Connected
              </button>
              <button class="col-5 btn btn-outline-danger w-100 text-center"  v-else>
                <robot></robot>  Disconnected
              </button>
            </div>
          </div>

        </div>
      </div>

      <modules-container v-bind:ros="ros" />

    </div>
  </div>
</template>

<script>
import ROSLIB from 'roslib';
import ModulesContainer from './ModulesContainer.vue';
import Motherboard from './Icons/Motherboard.vue';
import Robot from './Icons/Robot.vue';

export default {
  name: 'sendData',
  components: {
    ModulesContainer,
    Motherboard,
    Robot,
  },
  data() {
    return {
      connected: false,
      ros: null,
      ws_address: 'ws://192.168.0.90:9090/',
      logs: [],
      listener1: null,
      listener2: null,
      talker: null,
      msgToSend: null,
      module1_board_connected: false,
      module1_ros_connected: false,
      module2_ros_connected: false,
      module2_controller_connected: false,
      ardu3_connected: false,
    };
  },
  methods: {
    init() {
      this.ros = new ROSLIB.Ros({
        url: this.ws_address,
      });

      this.ros.on('connection', () => {
        this.connected = true;
        this.logs.push('Connected!');
      });

      this.ros.on('error', (error) => {
        this.logs.push(`Error connecting to websocket server: ${error.data}`);
      });

      this.ros.on('close', () => {
        this.connected = false;
        this.module1_board_connected = false;
        this.module2_ros_connected = false;
        this.ardu3_connected = false;
        this.logs.push('Connection to websocker server closed');
      });

      // ROS Subscribers
      this.listener1 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/disinfection_ardu_ros_pub',
        messageType: 'std_msgs/Bool',
      });

      this.listener2 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/disinfection_ardu_pub',
        messageType: 'std_msgs/Bool',
      });

      this.listener3 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/chassis_ros_pub',
      });

      this.listener4 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/chassis_status_callback',
        messageType: 'std_msgs/Bool',
      });

      this.listener1.subscribe((callback) => {
        this.module1_ros_connected = callback.data;
      });

      this.listener2.subscribe((callback) => {
        this.module1_board_connected = callback.data;
      });

      this.listener3.subscribe((callback) => {
        this.module2_ros_connected = callback.data;
      });

      this.listener4.subscribe((callback) => {
        this.module2_controller_connected = callback.data;
      });

      // ROS Publishers
      this.talker = new ROSLIB.Topic({
        ros: this.ros,
        name: '/disinfection_valve1_sub',
        messageType: 'std_msgs/Bool',
      });
    },
    connect() {
      this.ros = new ROSLIB.Ros({
        url: this.ws_address,
      });

      this.ros.on('connection', () => {
        this.connected = true;
        this.logs.push('Connected!');
      });

      this.ros.on('error', (error) => {
        this.logs.push('Error connecting to websocket server: ', error.data);
      });

      this.ros.on('close', () => {
        this.connected = false;
        this.logs.push('Connection to websocker server closed');
      });

      // ROS Subscribers
      this.listener1 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/disinfection_ardu_ros_pub',
        messageType: 'std_msgs/Bool',
      });

      this.listener2 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/disinfection_ardu_pub',
        messageType: 'std_msgs/Bool',
      });

      this.listener3 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/chassis_ros_pub',
      });

      this.listener4 = new ROSLIB.Topic({
        ros: this.ros,
        name: '/chassis_status_callback',
        messageType: 'std_msgs/Bool',
      });

      this.listener1.subscribe((callback) => {
        this.module1_ros_connected = callback.data;
      });

      this.listener2.subscribe((callback) => {
        this.module1_board_connected = callback.data;
      });

      this.listener3.subscribe((callback) => {
        this.module2_ros_connected = callback.data;
      });

      this.listener4.subscribe((callback) => {
        this.module2_controller_connected = callback.data;
      });
    },
    disconnect() {
      this.ros.close();
      this.module1_board_connected = false;
      this.module1_ros_connected = false;
      this.ardu3_connected = false;
      this.module1_ros_connected = false;
    },
    sendData(payload) {
      this.talker.publish(payload);
      this.logs.push(`Send message: ${payload.data}`);
    },
    launch() {

    },
  },
  watch: {
    msgToSend() {
      this.answer = this.msgToSend;
      const payload = {
        data: true,
      };
      this.sendData(payload);
    },
  },
  mounted() {
    this.init();
  },
};

</script>
