<template>
  <div class="container">
    <a class="btn-log" v-b-modal.logModal>
      <b-icon icon="chat-right-dots-fill" aria-hidden="true"></b-icon> Console
    </a>

    <b-modal id="logModal" centered title="Log messages" hide-footer
      body-bg-variant="dark"
      footer-bg-variant="dark">
      <div class="bg-dark p-2 text-light" style="height:200px; max-height:200px; overflow:auto;">
        <p v-for="(log, index) in logs" v-bind:key="index" class="mb-0">
          {{ log }}
        </p>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  props: {
    logs: {
      required: true,
    },
  },
};

</script>
