<template>
  <div>
    <h3>Log messages</h3>
    <div class="bg-dark p-2 text-light" style="height:200px; max-height:200px; overflow:auto;">
      <p v-for="(log, index) in logs" v-bind:key="index" class="mb-0">
        {{ log }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    logs: { required: true },
  },
};
</script>
