<template>
    <div>
        <b-card no-body style="height:300px;">
            <b-tabs card justified>
                <b-tab active>
                    <template #title>
                        <b-icon icon="droplet-half" aria-hidden="true"></b-icon>
                        Disinfection System Control
                    </template>
                    <b-card-text>
                        <disinfection-module v-bind:ros="ros" />
                    </b-card-text>
                </b-tab>
                <b-tab>
                    <template #title>
                        <b-icon icon="minecart" aria-hidden="true"></b-icon>
                        Chassis Status
                    </template>
                    <b-card-text>
                        <chassis-module v-bind:ros="ros" />
                    </b-card-text>
                </b-tab>
                <b-tab title="Tab 2">
                    <b-card-text>Hello</b-card-text>
                </b-tab>
            </b-tabs>
        </b-card>
    </div>
</template>

<script>
// import ROSLIB from 'roslib';
import DisinfectionModule from './DisinfectionModule.vue';
import ChassisModule from './ChasisModule.vue';

export default {
  props: ['ros'],
  components: {
    DisinfectionModule,
    ChassisModule,
  },
};
</script>
